---
import { Image } from "astro:assets";
import spotifyHeatmapImage from "../assets/spotify-heatmap1.png";
import brewImage from "../assets/brew1.png";
import Main from "../layouts/main.astro";

export const projects = [
  {
    id: "brew",
    label: "Brew.fm",
  },
  {
    id: "podkast",
    label: "Podkast",
  },
  {
    id: "spotify-heatmap",
    label: "Spotify HeatMap",
  },
  {
    id: "capgemini",
    label: "Capgemini",
  },
];

const writings = await Astro.glob("./writings/*.md");

writings.sort((a, b) => {
  const firstDate = a.frontmatter?.date;
  const secondDate = b.frontmatter?.date;

  return (
    new Date(
      +`20${secondDate.year}`,
      secondDate.month - 1,
      secondDate.day
    ).getTime() -
    new Date(
      +`20${firstDate.year}`,
      firstDate.month - 1,
      firstDate.day
    ).getTime()
  );
});
new Date();
console.log({ writings });
---

<Main>
  <div class="mt-16 sm:mt-0">
    <div class="md:mb-32 mb-20">
      <h1 class="text-6xl mb-4">WRITINGS</h1>
    </div>
    <div class="container mx-auto">
      <div
        class="grid sm:grid-cols-4 gap-y-6 grid-cols-1 justify-center sm:justify-start"
      >
        {
          writings.map((writing) => (
            <>
              <div
                class={`lg:col-start-2 lg:col-span-2 col-span-1 sm:col-span-3 peer/${writing.frontmatter.title.replace(
                  /\s+/g,
                  ""
                )} pr-2 text-center sm:text-left`}
              >
                <a href={writing.url} class="text-2xl ">
                  {writing.frontmatter.title?.toUpperCase()}
                </a>
              </div>
              <div
                class={`sm:flex items-center peer-hover/${writing.frontmatter?.title.replace(
                  /\s+/g,
                  ""
                )}:opacity-100 opacity-0 transition hidden  md:justify-self-start`}
              >
                <div class="bg-black h-[1px] md:w-24 w-10 mr-4" />
                <div class="flex md:gap-2 gap-1 md:text-lg">
                  <span class=" font-light italic">
                    {writing.frontmatter?.date?.day}
                  </span>
                  <span class=" font-light italic">/</span>
                  <span class=" font-light italic">
                    {writing.frontmatter?.date?.month}
                  </span>
                  <span class=" font-light italic">/</span>
                  <span class=" font-light italic">
                    {writing.frontmatter?.date?.year}
                  </span>
                </div>
              </div>
            </>
          ))
        }
      </div>
    </div>
    <script></script>
  </div>
</Main>
